@import '../../../mixins/utils.scss';

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 15px;
  padding: 40px;
  overflow: hidden;

  @include laptop {
    padding: 40px;
  }
  @include tablets {
    padding: 20px;
  }
}
