@import '../../../mixins/utils.scss';

.work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  grid-template-rows: repeat(auto-fill, minmax(350px, 450px));
  gap: 30px;
  padding: 30px;
  height: 100%;
  overflow: hidden;

  @include laptop {
    padding: 30px;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 340px);
  }

  @include tablets {
    padding: 20px;
    justify-content: center;
  }
}
