@import '../../../../mixins/utils.scss';

.container {
  border: 1px solid #1d1d1d40;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  @include tablets {
    margin: 0 auto;
    width: 100%;
  }
}

.spacer {
  padding: 0 20px;
}

.divider {
  height: 1px;
  margin: 10px 0;
  background-color: #1d1d1d40;
}
.label {
  font-size: 1.25rem;
  font-weight: bold;
}

.imageContainer {
  text-align: center;
}

.container:hover {
  @include shadow-hover;
}
