$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-background-color: #ffffff;
$secondary-background-color: #000000;

$border-color: rgba(128, 128, 128, 0.2);

$link-button-background: #398255;
$secondary-link-button-background: #ffffff;
$link-button-hover-background: #2e6e4e;
