@mixin default-hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.048);
}
@mixin shadow-hover {
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0 0 10px 0 #1d1d1d40;
}
@mixin swell-hover {
  transition: all 0.3s ease-in-out;
  color: #000;
  background-color: #fff;
  outline: 1px solid #272e40;
  transform: scale(1.05);
}
