@import '../mixins/utils.scss';

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 60px 0 60px 60px;

  @include laptop {
    padding: 40px 0 40px 40px;
  }

  @include tablets {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }
}
