@import '../mixins/utils.scss';

.container {
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  min-height: 100vh;
  padding: 60px;
  background-color: rgb(0, 0, 0);
  color: white;

  @include desktop {
    padding: 40px;
  }

  @include laptop {
    flex-direction: column;
    justify-content: flex-start;
  }

  @include tablets {
    padding: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 40px 60px;
  border-bottom: 1px solid $border-color;
  color: white;
  background-color: rgb(0, 0, 0);

  @include laptop {
    padding: 40px;
  }

  @include tablets {
    padding: 20px;
  }
}
