@import '../../mixins/utils.scss';

.container {
  padding: 25px 50px 25px 50px;
  border-bottom: 1px solid rgba($color: gray, $alpha: 0.2);
  background-color: $primary-background-color;

  @include laptop {
    padding: 20px 40px 20px 40px;
  }

  @include tablets {
    padding: 15px 30px 15px 30px;
  }

  @include phones {
    padding: 10px 20px 10px 20px;
  }
}

.buttons {
  display: flex;
}

.hire,
.works {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 110px;
  @include paragraph;
  border-radius: 5px;
  border: 1px solid black;
}

.hire:hover,
.works:hover {
  @include default-hover;
}

.hire {
  margin-right: 25px;
  color: $secondary-text-color;
  background-color: $secondary-background-color;
}

.skills,
.about {
  margin-top: 30px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    @include paragraph;
  }
}
.skills {
  .text {
    &:nth-child(even) {
      background-color: #398255;
    }
    cursor: pointer;
    color: #fff;
    background-color: #272e40;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #000;
      background-color: #fff;
      outline: 1px solid #272e40;
      transform: scale(1.05);
    }
  }
}

.title {
  @include title;
  margin-bottom: 20px;
}

.text {
  @include paragraph;
}
