@import '../../../../mixins/utils.scss';

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid rgba($color: gray, $alpha: 0.2);
  border-radius: 5px;
  ul {
    margin: 0;
    padding-left: 30px;
    list-style: none;
    li {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        width: 9px;
        height: 2px;
        background-color: gray;
      }
    }
  }
  @include tablets {
    margin: 0 auto;
  }
}

.container:hover {
  @include default-hover;
}

.label {
  @include title;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.image {
  border-radius: 50%;
}

.date {
  @include paragraph;
  margin-left: 10px;
}

.tasks {
  margin-top: 20px;
  @include subtitle;
}

.task {
  margin-top: 5px;
  @include paragraph;
}
